<div class="col-md-12 p-0 main-container position-fixed" *ngIf="isLoading">
  <div class="x_panel vh-100 d-flex align-items-center justify-content-center py-5 ">
    <div class="fs-5 py-5 my-5 d-flex flex-column justify-content-center align-items-center col-md-12">
      <div class="col-md-3 modal-container  text-center cog-wheel">
        <img src="assets/images/cog.gif" alt="" />
        <h6 class="modal-title title-message">
          Please Wait ........
        </h6>
      </div>
    </div>
  </div>
</div>


