.user-profile {
    width: 2rem !important;
    height: 2rem !important;
  }
  
  .g-search{
    width: 20rem !important;
  }
  
  .cell-wrapper {
    padding-left: .6rem;
    padding-right: .6rem;
  }
  