.user-profile {
    width: 2rem !important;
    height: 2rem !important;
  }
  
  .g-search{
    width: 20rem !important;
  }
  
  .cell-wrapper {
    padding-left: .6rem;
    padding-right: .6rem;
  }
  
  .paid-installment {
    //border: 1px solid #17c417;
    border-left: 4px solid green;
  }