/* Navbar */

@import "../../assets/styles/variable";
/* Navbar */

.navbar {
  font-family: Poppins, sans-serif;
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s;
  -moz-transition: background 0.25s;
  -ms-transition: background 0.25s ease;

  .navbar-brand-wrapper {
    background: white;
    max-width: $sidebar-width-lg !important;
    height: $navbar-height;

    .navbar-brand {
      color: white;
      font-size: 1.5rem;
      line-height: 48px;
      margin-right: 0;
      padding: 0.25rem 0;
      // @include display-flex;

      &:active,
      &:focus,
      &:hover {
        color: #292b2c;
      }

      img {
        width: calc(#{$sidebar-width-lg} - 130px);
        max-width: 100%;
        height: 28px;
        margin: auto;
        vertical-align: middle;
      }
    }

    .brand-logo-mini {
      display: none;

      img {
        width: calc(#{$sidebar-width-icon} - 50px);
        max-width: 100%;
        height: 28px;
        margin: auto;
      }
    }
  }

  .navbar-menu-wrapper {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    //width: calc(100% - #{$sidebar-width-lg});
    width: 100%;
    height: $navbar-height;

    @media (max-width: 991px) {
      width: auto;
    }

    .navbar-toggler {
      border: 0;
      color: inherit;

      &:not(.navbar-toggler-right) {
        @media (max-width: 991px) {
          display: none;
        }
      }
    }

    .navbar-text {
      font-size: $default-font-size;
    }

    .navbar-nav {
      flex-direction: row;
      align-items: center;

      li {
        margin-right: 1rem;
      }

      .dropdown-menu {
        position: absolute !important;
        z-index: 99999999 !important;
      }

      .nav-item {
        margin-left: 1rem;
        margin-right: 1rem;

        .nav-link {
          cursor: pointer;
          color: inherit;
          font-size: $navbar-font-size;
          vertical-align: middle;

          @media (max-width: 767px) {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }

          i {
            font-size: $navbar-icon-font-size;
            vertical-align: middle;
          }

          .profile-text {
            margin-right: 15px;

            .rtl & {
              margin-right: 0;
              margin-left: 15px;
            }
          }

          &.nav-btn {
            // .btn {
            //   background: rgba($white, 0.1);
            //   padding: 0.75rem 1rem;
            //   color: $white;
            // }

            &:after {
              display: none;
            }
          }
        }

        .p-over-header {
          padding: 15px 25px !important;
        }

        .adject-p-o {
          left: -60px !important;
        }
      }

      &.navbar-nav-right {
        @media (min-width: 992px) {
          margin-left: auto;

          // .dropdown-menu-left {
          //   right: 0;
          //   left: auto;
          // }

          // .dropdown-menu-right {
          //   right: auto;
          //   left: 0;
          // }
        }
      }

      &.header-links {
        height: $navbar-height;
        padding-left: 2%;

        .nav-item {
          margin: 0;

          .nav-link {
            height: $navbar-height;
            font-size: $navbar-font-size;
            padding: 22px 25px;
            display: display-flex;
            // @include align-items(center);

            i {
              margin-right: 10px;
              font-size: 21px;

              .rtl & {
                margin-right: 0;
                margin-left: 10px;
              }
            }
          }

          &.active {
            background: rgba(white, 0.13);
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    &.default-layout {
      flex-direction: row;

      .navbar-brand-wrapper {
        width: 75px;

        .brand-logo {
          display: none;
        }

        .brand-logo-mini {
          display: inline-block;
        }
      }
    }
  }

  .navbar-collapse {
    display: flex;
    margin-top: 0.5rem;
  }
}

.c-pointer {
  cursor: pointer !important;
}

.nav-li a:hover {
  cursor: pointer;
  font-size: 14px !important;
}

.nav-li i:hover {
  cursor: pointer;
  font-size: 14px !important;
}

.lpp {
  text-align: center;
  right: 1rem !important;
  left: auto !important;

  &__a {
    margin-top: 16px;
  }

  &__icon-circle {
    background-color: crimson;
    border-radius: 50%;
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
  }

  &__circle_i {
    font-size: 50px !important;
    color: #eee !important;
  }
}

.img-xs {
  width: 37px;
  height: 37px;
}

.a-font {
  font-size: 1rem !important;
}

.badge-counter {
  position: absolute;
  top: -4px;
}

.btn-user {
  display: flex !important;
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.menu-sm-burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  a>i {
    font-size: 1.2rem;
  }
}

.icon-deep {
  color: #050554;
}

.logo {
  display: flex !important;
  justify-content: center;
  align-items: center;

  a {
    padding-left: 1.2rem;
  }
}

.dropdown-menu-text {
  font-size: 13px !important;
}

.img-xl {
  width: 60px !important;
  height: 60px !important;
}

.icon-action {
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: var(--primary-dark);
  }

  span {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding-left: 2px;
    margin-top: -5px;
  }

  img {
    width: 2.4rem;
  }
}

.cust-btn {
  border: 1px solid #212529 !important;
  border-radius: 4px 0px 0px 4px;
}

.cust-box {
  border-radius: 4px 0px 0px 4px;
}

.navbar-height {
  height: var(--navbar-height);
}

.dropdown-menu[data-bs-popper] {
  left: -39px !important;
}
