.img-container {
  width: 12rem;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  transform: translate(0%, 0%);

  &__box {
    height: 12rem;
    margin-bottom: 0.6rem;
    border: 1px solid #d9d9d9;
    width: 12rem;
    border-radius: 4px;
  }
}

.img-container__box img {
  height: 12rem;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef !important;
  opacity: 1 !important;
}

textarea {
  resize: none !important;
}
