<div id="page-menu" class="page-menu" [ngClass]="{'position-relative mobile-mode-menu ': !isMinimize}">
  <ng-container *ngIf="!isMinimize">
    <div class="x_content d-flex justify-content-between m-0 p-0">
      <div class="fe-1 ps-3 py-3 d-flex justify-content-start menu-info text-truncate">
        <app-image-loader [url]="'assets/face.jpg'" [className]="'rounded rounded-circle me-3'">
        </app-image-loader>
        <div class="d-flex text-white flex-column justify-content-center text-truncate">
          <div class="text-truncate">{{userDetail.FirstName}} {{userDetail.LastName != null ? userDetail.LastName : ''}}</div>
          <div class="text-truncate">{{userDetail.EmailId}}</div>
        </div>
      </div>
    </div>
    <div id="menu-items" class="menu-items menu-container bg-white d-flex flex-column justify-content-between position-relative">
      <div class="col-md-12">
        <div class="accordion border-0" *ngFor="let catagory of Menu;let i = index;">
          <div class="accordion-item border-0">
            <div class="accordion-item-header z-3" [ngClass]="{'active': catagory.IsActive}" [attr.data-index]="i+1" (click)="toogle($event)">
              <span class="i-chip">
                <i class="{{catagory.ParentDetail.Icon}}"></i>
              </span>
              {{catagory.Name}}
              <span *ngIf="catagory.ParentDetail.Badge != null"
                class="badge bg-secondary ms-3">
                NEW
              </span>
              <i class="fa-solid fa-caret-right arrow-pointer fa-lg ms-auto ps-2 pe-4 z-0" [ngClass]="{'rotate-caret': catagory.IsActive}"></i>
            </div>
            <!-- /.accordion-item-header -->
            <div class="accordion-item-body" [ngClass]="{'active-body': catagory.IsActive}">
              <div class="accordion-item-body-content">
                <div class="menu-item-group">
                  <ng-container *ngFor="let item of catagory.Value">
                    <a  class="nav-link nav-link-menu a-font" (click)="cleanupEmpId(item.Link)"
                      href="javascript:void(0)" [ngClass]="{'active-link': item.Link == currentPage}">
                      <div class="row menu-item-div align-items-center">
                        <div class="col-md-1">
                          <i class="menu-item-icon {{item.Icon}}"></i>
                        </div>
                        <div class="mene-item col-md-8 ps-3">
                          {{item.Catagory}}
                        </div>
                      </div>
                    </a>
                  </ng-container>
                </div>
              </div>
            </div><!-- /.accordion-item-body -->
          </div><!-- /.accordion-item -->
        </div>
      </div>
      <div class="ps-3 custom-text">
        Axil - V {{version}}
      </div>
    </div>
  </ng-container>
</div>
