<router-outlet></router-outlet>
<div class="custom-toast d-none" id="toast" (click)="closeToast()">
  <app-toast></app-toast>
</div>

<!-- Client Loading loader model -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="commonMessage" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body modal-container  text-center cog-wheel">
        <h3>Common Message</h3>
      </div>
    </div>
  </div>
</div>
