.uplod-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 19rem !important;
}

.record-container {
  max-height: 400px;
  overflow: auto;
}

.ifilezone {
  background-image: url("/assets/images/drag&drop.jpg") !important;
  background-size: 100% 100%;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  background-color: #f8f7f7;
  min-height: 310px;
  background-repeat: no-repeat;
}

.filetitle {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.custom-bg {
  background-color: #f6f6f6 !important;;
}

.table-container {
  height: 61vh !important;
}

.mostly-customized-scrollbar {
  display: block;
  overflow: auto;
}

.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 9px;
  background-color: white; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #c3b6b6;
}
