:root {
    --auto-play-frame-no: 0;
    --home-img-height: 75vh;
    --menu-filter-box-height: 8rem;
    --btn-input-default-height: 34px;
    --orange: #e6791e;
    --light: #eee;
    --bg-color: #f9eeee;
    --scrollbarBG: #cfd8dc;
    --thumbBG: #90a4ae;
    --primary: #337ab7;
    --primary-dark: #286090;
    --clock-width: 180px;
    --wing-height: 60px;
    --left-panel-width-x: 15%;
    --left-panel-width-l: 18%;
    --left-panel-width-s: 16%;
    --border-color: #ded3d3;
    --navbar-height: 4rem;
    --content-header-height: 4rem;
    --main-container-padding-top: 1.5rem;
    --main-container-padding-right: 1.5rem;
    --main-container-padding-bottom: 1rem;
    --main-container-padding-left: 1.5rem;
  }
