@media only screen and (min-width : 320px) and (max-width : 480px) {
  /* Smartphone (portrait and landscape) */

  .body-panel {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }

  footer {
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;

    .footer-dv {
      padding-right: 2rem !important;
      padding-left: 2rem !important;
    }
  }

  .c-area {
    text-align: center !important;
  }

  .section-cover {
    padding-top: 30px !important
  }

  .section_title {
    font-size: 3.5rem !important;
  }

  #hamburger-item {
    display: flex !important;
  }

  .mobile-mode-menu {
    position: fixed;
    z-index: 9;
    right: 0px;
  }

  #tine-menu {
    display: none !important;
  }

  .r-panel .mini-r-panel {
    width: 100% !important;
    transition: all 0.2s linear !important;
  }

  .mini-l-panel {
    display: none !important;
  }
}