@import url(./global-variables.scss);

@media only screen
and (min-width : 1024px) {
    /* Laptop screen */
    #tine-menu {
        display: none !important;
    }

    .page-menu {
      display: block !important;
    }

    .l-panel {
        width: var(--left-panel-width-l) !important;
        display: block;
        transition: all 0.2s linear !important;
    }

    .r-panel {
        width: calc(100% - var(--left-panel-width-l)) !important;
        transition: all 0.2s linear !important;
    }

    .mini-l-panel {
      width: 6% !important;
      transition: all 0.2s linear !important;
    }

    .mini-r-panel {
      width: calc(100% - 6%) !important;
      transition: all 0.2s linear !important;
    }
    .menu-container {
      overflow-x: hidden !important;
    }

    .nav-link-menu{
      padding: 0.7rem !important;
      font-size: 1rem !important;
    }
    .custom-accordion-btn {
      padding-left: 0.2rem !important;
      padding-right: 1rem !important;
      font-size: 1.1rem !important;
    }
   .title_menu {
      margin-left: 0px !important;
    }
    .custom-text {
      font-size: 0.8rem !important;
    }
    .dropdown-content {
      left: 6.5rem !important;
    }
    .caret {
      border: 13px solid transparent !important;
      left: 3.8rem !important;
    }
    .sm-catagory-icons {
      width: 2vw;
    }
    html, body {
      height: 100%;
      margin: 0;
      font-size: 0.9vw !important;
      font-weight: 400 !important;
      line-height: 1.5;
      color: #6d7680 !important;
      overflow-x: hidden;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .catagory-icons {
      width: 1.3vw;
      margin-right: 1rem;
    }

    .scroll-bar-dv .inner-scroller {
      width: 32rem !important;
    }
    .index-col {
      width: 8% !important;
    }

  }
