<div class="main-container">
    <div class="x_panel">
      <div class="x_header">
        <div class="d-flex justify-content-between">
          <div class="col-8">
            <div class="px-1">
              <app-breadcrums [title]="'Change Password'"></app-breadcrums>
            </div>
          </div>
          <div class="col-4">
            <div class="x_header_title d-flex align-items-center justify-content-end">
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="card p-4 my-3">
            <h5>Your password must follow the below points:</h5>
            <ul>
              <li>Must lie between 6 to 20 characters</li>
              <li>Atleast one upper case and one lower case character</li>
              <li>Must contain one special character e.g $, #, &#64;, !, <,> etc.</li>
              <li>Must contain one numeric digit</li>
            </ul>
            <form [formGroup]="resetPasswordForm">
              <div>
                <label class="form-label">Enter your old password</label>
                <div class="position-relative p-0 m-0 form-group">
                  <input type="password" class="form-control" placeholder="enter your old password" formControlName="oldPassword"
                    [ngClass]="{'is-invalid': submitted && f['oldPassword'].errors}">
                  <a href="javascript:void(0)" class="view-c d-none" (click)="hidePassword($event)">
                    <i class="fa-regular fa-eye"></i>
                  </a>
                  <a href="javascript:void(0)" class="view-c" (click)="showPassword($event)">
                    <i class="fa-regular fa-eye-slash" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="mt-3">
                <label class="form-label">Enter your new password</label>
                <div class="position-relative p-0 m-0 form-group">
                  <input type="password" placeholder="enter your new password" formControlName="newPassword" class="form-control"
                    [ngClass]="{'is-invalid': submitted && f['newPassword'].errors}">
                  <a href="javascript:void(0)" class="view-c d-none" (click)="hidePassword($event)">
                    <i class="fa-regular fa-eye"></i>
                  </a>
                  <a href="javascript:void(0)" class="view-c" (click)="showPassword($event)">
                    <i class="fa-regular fa-eye-slash" aria-hidden="true"></i>
                  </a>
                  <div *ngIf="submitted && f['newPassword'].errors" class="invalid-feedback">
                    <div *ngIf="f['newPassword'].errors['pattern']">Pattern Password is required</div>
                  </div>
                </div>
              </div>
              <div class="mt-3">
                <label class="form-label">Confirm new password</label>
                <div class="position-relative p-0 m-0 form-group">
                  <input type="password" placeholder="confirm new password" formControlName="confirmPassword" class="form-control"
                    [ngClass]="{'is-invalid': submitted && f['confirmPassword'].errors}">
                  <a href="javascript:void(0)" class="view-c d-none" (click)="hidePassword($event)">
                    <i class="fa-regular fa-eye"></i>
                  </a>
                  <a href="javascript:void(0)" class="view-c" (click)="showPassword($event)">
                    <i class="fa-regular fa-eye-slash" aria-hidden="true"></i>
                  </a>
                  <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                    <div *ngIf="f['confirmPassword'].errors['pattern']">Pattern Password is required</div>
                    <div *ngIf="f['confirmPassword'].errors['confirmPasswordValidator']">Confirm Password does not match</div>
                  </div>
                </div>
              </div>
              <div class="text-end mt-4" *ngIf="!isPasswordChanged">
                <button class="btn btn-outline-danger" type="button" (click)="onReset()">Reset</button>
                <button class="btn btn-outline-success ms-3" [disabled]="isLoading" (click)="onSubmit()"><i [ngClass]="{'fa-solid fa-spinner fa-spin': isLoading, 'fa-solid fa-gear': !isLoading}"></i>
                  {{ isLoading ? 'Wait' : 'Save' }}</button>
              </div>
            </form>
          </div>
          <div class="my-4 d-flex justify-content-between" *ngIf="isPasswordChanged">
            <button class="btn btn-outline-primary w-100" [disabled]="isLogOut" (click)="LogoutUser()">
              <i class="fa-solid" [ngClass]="{'fa-spinner fa-spin': isLogOut, 'fa-arrow-right-to-bracket': !isLogOut}"></i>
                  {{ isLoading ? 'Wait' : 'Click to logout' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  