<div class="col-md-12 main-container">
    <div class="content-header">
      <div class="col-6 d-flex">
        <div class="col-auto px-1">
          <app-breadcrums [title]="'User Investment'"></app-breadcrums>
        </div>
      </div>
      <div class="col-6 d-fex text-end">
      </div>
    </div>
  
    <div class="x_panel">
      <div class="x_content">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <button ngbNavLink (click)="loadInventoryData()">Product Detail</button>
                <ng-template ngbNavContent>
                    <div class="t-table t-list col-md-12">
                        <div class="t-head">
                          <div class="tr">
                            <div class="th fe-index">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    #
                                </div>
                            </div>
                            <div class="th fe-2">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Product Name
                                </div>
                            </div>
                            <div class="th fe-2">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Emi Amount
                                </div>
                            </div>
                            <div class="th">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Month
                                </div>
                            </div>
                            <div class="th fe-2">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Down Payment
                                </div>
                            </div>
                            <div class="th fe-2">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    EMI Start Date
                                </div>
                            </div>
                            <div class="th fe-2">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    EMI End Date
                                </div>
                            </div>
                            <div class="th fe-2">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Loan Amount
                                </div>
                            </div>
                            <div class="th fe-2">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Payable Amount
                                </div>
                            </div>
                            <div class="th fe-2">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Deposit Date
                                </div>
                            </div>
                            <div class="th">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Action
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="t-body">
                            @if (this.cdProductInvestment.length > 0) {
                                @for (item of cdProductInvestment; track $index) {
                                    <div class="tr py-2">
                                        <div class="td fe-index">
                                            <div class="cell-wrapper">
                                                {{$index + 1}}
                                            </div>
                                        </div>
                                        <div class="td fe-2">
                                            <div class="cell-wrapper">
                                                {{item.productName}}
                                            </div>
                                        </div>
                                        <div class="td fe-2">
                                            <div class="cell-wrapper">
                                              <i class="fa-solid fa-indian-rupee-sign pe-2"></i>{{item.emiAmount | number : '1.2-2'}}
                                            </div>
                                        </div>
                                        <div class="td">
                                            <div class="cell-wrapper">
                                                {{item.period | number:'2.0'}}
                                            </div>
                                        </div>
                                        <div class="td fe-2">
                                            <div class="cell-wrapper">
                                              <i class="fa-solid fa-indian-rupee-sign pe-2"></i>{{item.downPayment | number : '1.2-2'}}
                                            </div>
                                        </div>
                                        <div class="td fe-2">
                                            <div class="cell-wrapper">
                                                {{item.emiStartDate | date}}
                                            </div>
                                        </div>
                                        <div class="td fe-2">
                                            <div class="cell-wrapper">
                                                {{item.emiEndDate | date}}
                                            </div>
                                        </div>
                                        <div class="td fe-2">
                                            <div class="cell-wrapper">
                                              <i class="fa-solid fa-indian-rupee-sign pe-2"></i>{{item.loanAmount | number : '1.2-2'}}
                                            </div>
                                        </div>
                                        <div class="td fe-2">
                                            <div class="cell-wrapper">
                                              <i class="fa-solid fa-indian-rupee-sign pe-2"></i>{{item.totalPayableAmount | number : '1.2-2'}}
                                            </div>
                                        </div>
                                        <div class="td fe-2">
                                            <div class="cell-wrapper">
                                                {{item.depositDate | date}}
                                            </div>
                                        </div>
                                        <div class="td">
                                            <div class="cell-wrapper">
                                                <a href="javascript:void(0)" (click)="viewInventory(item)">
                                                    <i class="fa-regular fa-eye"></i>
                                                </a>
                                                <a href="javascript:void(0)" class="ms-3" (click)="viewCDProductPaymentDetail(item)" data-bs-toggle="tooltip" data-bs-placement="right" title="View Payment Detail">
                                                  <span class="badge bg-success">
                                                    <i class="fa-solid fa-money-bill-transfer"></i>
                                                  </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            } @else {
                                <app-bt-record-not-found></app-bt-record-not-found>
                            }
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <button ngbNavLink (click)="loadInvestmentData()">Investment Detail</button>
                <ng-template ngbNavContent>
                    <div class="t-table t-list col-md-12">
                        <div class="t-head">
                          <div class="tr">
                            <div class="th fe-index">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    #
                                </div>
                            </div>
                            <div class="th">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Investment Amount
                                </div>
                            </div>
                            <div class="th">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Principal Amount
                                </div>
                            </div>
                            <div class="th">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Profit Amount
                                </div>
                            </div>
                            <div class="th">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Month
                                </div>
                            </div>
                            <div class="th">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Total Profit
                                </div>
                            </div>
                            <div class="th">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Investment Date
                                </div>
                            </div>
                            <div class="th">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Ist Payment Date
                                </div>
                            </div>
                            <div class="th">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Last Payment Date
                                </div>
                            </div>
                            <div class="th fe-index">
                                <div class="cell-wrapper fw-bold text-primary-dc">
                                    Action
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="t-body">
                            @if (this.investmentDetail.length > 0) {
                                @for (item of investmentDetail; track $index) {
                                    <div class="tr py-2">
                                        <div class="td fe-index">
                                            <div class="cell-wrapper">
                                                {{$index + 1}}
                                            </div>
                                        </div>
                                        <div class="td">
                                            <div class="cell-wrapper">
                                              <i class="fa-solid fa-indian-rupee-sign pe-2"></i>{{item.investmentAmount | number : '1.2-2'}}
                                            </div>
                                        </div>
                                        <div class="td">
                                            <div class="cell-wrapper">
                                              <i class="fa-solid fa-indian-rupee-sign pe-2"></i>{{item.principalAmount | number : '1.2-2'}}
                                            </div>
                                        </div>
                                        <div class="td">
                                            <div class="cell-wrapper">
                                              <i class="fa-solid fa-indian-rupee-sign pe-2"></i>{{item.profitAmount | number : '1.2-2'}}
                                            </div>
                                        </div>
                                        <div class="td">
                                            <div class="cell-wrapper">
                                              {{item.period | number:'2.0'}}
                                            </div>
                                        </div>
                                        <div class="td">
                                            <div class="cell-wrapper">
                                              <i class="fa-solid fa-indian-rupee-sign pe-2"></i>{{item.totalProfitAmount | number:'1.2-2'}}
                                            </div>
                                        </div>
                                        <div class="td">
                                            <div class="cell-wrapper">
                                              {{item.investmentDate | date}}
                                            </div>
                                        </div>
                                        <div class="td">
                                            <div class="cell-wrapper">
                                              {{item.istPaymentDate | date}}
                                            </div>
                                        </div>
                                        <div class="td">
                                            <div class="cell-wrapper">
                                              {{item.lastPaymentDate | date}}
                                            </div>
                                        </div>
                                        <div class="td fe-index">
                                            <div class="d-flex flex-row justify-content-evenly">
                                                <a href="javascript:void(0)" (click)="viewInvestment(item)">
                                                    <i class="fa-regular fa-eye"></i>
                                                </a>
                                                <a href="javascript:void(0) ms-2" (click)="viewPaymentDetail(item)" data-bs-toggle="tooltip" data-bs-placement="right" title="View Payment Detail">
                                                  <span class="badge bg-success">
                                                    <i class="fa-solid fa-money-bill-transfer"></i>
                                                  </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            } @else {
                                <app-bt-record-not-found></app-bt-record-not-found>
                            }
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
        
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
</div>

<!-- Inventory Customer Copy -->
<div class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" id="InventoryCustomerViewModal" tabindex="-1" aria-labelledby="InventoryCustomerViewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content p-3">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title fs-5" id="InventoryCustomerViewModalLabel">Customer Copy</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          @if (customerCDProductDetail.firstName != null && customerCDProductDetail.firstName != "") {
            <div class="x_panel_body">
              <div class="row mt-3">
                <div class="col-md-6 d-flex align-items-center">
                  <label class="form-label pe-2 fw-bold text-dark">A/C No.: </label>
                  <div class="col-auto">
                    <input class="form-control fw-bold" type="text" readonly [value]="customerCDProductDetail.accountId">
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="form-label">Name of Customer</label>
                  <input class="form-control" [value]="customerCDProductDetail.firstName + ' ' + customerCDProductDetail.lastName" type="text" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Your Payable Amount to Office</label>
                  <input class="form-control" [value]="customerCDProductDetail.payableAmountToOffice | number:'1.2-2'" type="text" readonly>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="form-label">Four-Wheeler's Name</label>
                  <input class="form-control" [value]="customerCDProductDetail.productName" type="text" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Deposit Date</label>
                  <input class="form-control" [value]="customerCDProductDetail.depositDate | date" type="text" readonly>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="form-label">EMI Starting Date</label>
                  <input class="form-control" [value]="customerCDProductDetail.emiStartDate | date" type="text" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label">EMI Ending Date</label>
                  <input class="form-control" [value]="customerCDProductDetail.emiEndDate | date" type="text" readonly>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="form-label">EMI Amount</label>
                  <input class="form-control" [value]="customerCDProductDetail.emiAmount | number:'1.2-2'" type="text" readonly>
                </div>
              </div>
            </div>
          }
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary-c" (click)="printCustomerSlip('InventoryCustomerViewModal')"><i class="fa-solid fa-print pe-1"></i>Print</button>
        </div>
      </div>
    </div>
  </div>

<!-- Investment Customer Copy -->
<div class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" id="InvestmentViewCustomerModal" tabindex="-1" aria-labelledby="InvestmentViewCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content p-3">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title fs-5" id="InvestmentViewCustomerModalLabel">Customer Copy</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          @if (customerInvestmentDetail.firstName != null && customerInvestmentDetail.firstName != "") {
            <div class="x_panel_body">
              <div class="row mt-3">
                <div class="col-md-6 d-flex align-items-center">
                  <label class="form-label pe-2 fw-bold text-dark">A/C No.: </label>
                  <div class="col-auto">
                    <input class="form-control fw-bold" type="text" readonly [value]="customerInvestmentDetail.accountId">
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="form-label">Name of Customer</label>
                  <input class="form-control" [value]="customerInvestmentDetail.firstName + ' ' + customerInvestmentDetail.lastName" type="text" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Investment Amount</label>
                  <input class="form-control" [value]="customerInvestmentDetail.investmentAmount | number:'1.2-2'" type="text" readonly>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="form-label">Investment Period (month)</label>
                  <input class="form-control" [value]="customerInvestmentDetail.period | number:'2.0'" type="text" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Principal Amount</label>
                  <input class="form-control" [value]="customerInvestmentDetail.principalAmount | number:'1.2-2'" type="text" readonly>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="form-label">Profit Amount</label>
                  <input class="form-control" [value]="customerInvestmentDetail.profitAmount | number:'1.2-2'" type="text" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Total Payment </label>
                  <input class="form-control" [value]="customerInvestmentDetail.totalProfitAmount | number:'1.2-2'" type="text" readonly>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="form-label">Total Profit Amount</label>
                  <input class="form-control" [value]="customerInvestmentDetail.totalProfitAmount | number:'1.2-2'" type="text" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Investment Date</label>
                  <input class="form-control" [value]="customerInvestmentDetail.investmentDate | date" type="text" readonly>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="form-label">1st Payment Date</label>
                  <input class="form-control" [value]="customerInvestmentDetail.istPaymentDate | date" type="text" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Last Payment Date</label>
                  <input class="form-control" [value]="customerInvestmentDetail.lastPaymentDate | date" type="text" readonly>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="form-label">Add On</label>
                  <input class="form-control" [value]="customerInvestmentDetail.addOn | number:'1.2-2'" type="text" readonly>
                </div>
              </div>
              <p class="mt-3 text-danger">* Term & Conditions: </p>
            </div>
          }
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary-c" (click)="printCustomerSlip('InvestmentViewCustomerModal')"><i class="fa-solid fa-print pe-1"></i>Print</button>
        </div>
      </div>
    </div>
  </div>

  <!--View Payment Detial Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="viewPaymentModal" tabindex="-1" aria-labelledby="viewPaymentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content px-3">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="viewPaymentModalLabel">All Payment Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @if (paymentDetails != null && paymentDetails.length > 0) {
          <table class="table">
            <thead>
              <tr>
                <th>Installment No.</th>
                <th>Amount</th>
                <th>IsPaid</th>
                <th>Payment Date</th>
              </tr>
            </thead>
            <tbody>
              @for (item of paymentDetails; track $index) {
                <tr>
                  <td>{{getOrdinalInstallment(item.installmentNumber, paymentDetails.length )}}</td>
                  <td><i class="fa-solid fa-indian-rupee-sign pe-1"></i> {{item.amount | number :'1.2-2'}}</td>
                  <td> 
                    @if (item.isPaid) {
                      <i class="fa-solid fa-square-check text-success pe-2"></i> 
                    } @else {
                      <i class="fa-solid fa-clock pe-2 text-info"></i>
                    }
                    {{item.isPaid == true ? 'Paid' : 'Not Paid'}}
                  </td>
                  <td>{{item.paymentDate | date}}</td>
                </tr>
              }
            </tbody>
          </table>
        }
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark pe-2"></i>Close</button>
      </div>
    </div>
  </div>
</div>