<div class="container m-0 p-0 auto-dd" name="autofill-container" title="bt-autocomplete">
  <div id="iautofill-searchfield" title="bt-autocomplete">
    <a class="anc-remove d-none" (click)="AddToAutoFillList()" name="remove-pointer" title="bt-autocomplete">&#x2716;</a>
    <input type="text" class="biginput simple-field form-control" [ngClass]="ClassName" [attr.tabindex]="Tabindex"
      name="iautofill-textfield" (click)="ShowAutofillDropdown()" (focus)="ShowAutofillDropdown()"
      [placeholder]="placeholder" [attr.value]="InitValue" [attr.data]="InitData"  title="bt-autocomplete"/>
    <div class="iautofill-suggestion-dv d-none" name="suggestionBox-dv" title="bt-autocomplete">
      <div class="d-flex flex-column">
        <div class="selected-item-chip" *ngIf="IsMultiSelect">
          selected Items
        </div>
        <input type="text" (keyup)="onKeyUp($event)" (keydown)="onKeyPress($event)" (keydown.shift.tab)="NoAction()" title="bt-autocomplete"
          (keydown.control.space)="LoadFromApi($event)" class="biginput border-0 nb simple-field form-control" 
          [ngClass]="ClassName" name="autocomplete" placeholder="type here ..." />
        <div class="spinner" *ngIf="isStartFilter"></div>
      </div>
      <div *ngIf="!isShowEmptyRow" class="autocomplete-suggestions w-100" name="iautofill-div"
        style="position: relative; max-height: 300px; z-index: 9999;" title="bt-autocomplete">
        <div class="autocomplete-suggestion d-flex justify-content-start" *ngFor="let item of BindingData; let index = index" data="index"
          (click)="select(index, true, $event)" title="bt-autocomplete">
          <input type="checkbox" title="bt-autocomplete" *ngIf="IsMultiSelect" [(ngModel)]="item.selected" class="me-2">
          <span title="bt-autocomplete">{{item.text}}</span>
        </div>
      </div>
      <div *ngIf="isShowEmptyRow" class="autocomplete-suggestions w-100" name="iautofill-div"
        style="position: relative; max-height: 300px; z-index: 9999;" title="bt-autocomplete">
        <div class="autocomplete-suggestion empty-row" (click)="onBlur()" title="bt-autocomplete">Not available</div>
      </div>
    </div>
  </div>
</div>
